<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  let app
  document.addEventListener('DOMContentLoaded', e => {
    app = new Vue({
      el: '#app',
      data: {
        genres: {},
        signedIn: false
      }
    });
    const req = new XMLHttpRequest();
    function listener() {
      app.genres = JSON.parse(this.responseText);
    }
    req.addEventListener("load", listener);
    req.open("GET", "http://ec2-18-206-158-38.compute-1.amazonaws.com:5000/genres");
    req.send();
    let provider = new firebase.auth.GoogleAuthProvider();

    firebase.auth().signInWithPopup(provider).then(function(result) {
      app.signedIn = true;
      let id = result.user.uid;
      let name = result.user.displayName;
      let email = result.user.email;
      fetch("http://ec2-18-206-158-38.compute-1.amazonaws.com:5000/add-user", {
        method: 'POST',
        mode: 'no-cors',
        body: JSON.stringify({ id: id, name: name, email: email }),
        headers: { 'Content-Type': 'application/json' }
      }).then(console.log);
    }).catch(function(error) {
      let errorCode = error.code;
      let errorMessage = error.message;
      console.log(`whoops: ${errorCode}: ${errorMessage}`);
    });
  });
</script>
<div id="app">
  <div v-if="signedIn">
    <div v-for="genre in genres">
      <h1>{{genre}}</h1>
    </div>
  </div>
  <div v-else>
    Please sign in
  </div>
</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB3BMGm2IImNfMF3g1BxefgS_3o_yyJuxo",
    authDomain: "micro-service-architecture.firebaseapp.com",
    databaseURL: "https://micro-service-architecture.firebaseio.com",
    projectId: "micro-service-architecture",
    storageBucket: "micro-service-architecture.appspot.com",
    messagingSenderId: "655383362409",
    appId: "1:655383362409:web:e82bd5ceb81083b579dbf8"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
